@import 'normalize.css';
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@0,100..900;1,100..900&display=swap');

:root {
    --primary: #fe2c55;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizntal-spacer: 24px;
    --black: #000;
    --white: #fff;
    --text-color: #333;

    --font-family: va(--font-family);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}
//Fonts emmbeded
@font-face {
    //Đặt tên cho nó
    font-family: var(-- --font-family);
    src: url('/assets/fonts/TikTokDisplayFont-Bold.woff2');
    font-weight: 400;
}

@font-face {
    //Đặt tên cho nó
    font-family: var(-- --font-family);
    src: url('/assets/fonts/TikTokFont-Bold.woff2');
    font-weight: 600;
}

@font-face {
    //Đặt tên cho nó
    font-family: var(-- --font-family);
    src: url('/assets/fonts/TikTokFont-Regular.woff2');
    font-weight: 700;
}

@font-face {
    //Đặt tên cho nó
    font-family: var(-- --font-family);
    src: url('/assets/fonts/TikTokFont-Semibold.woff2');
    font-weight: 700;
}
body {
    // font-family: 'Roboto', sans-serif;
    font-family: var(-- --font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);

    // font-family: 'Montserrat', sans-serif;
    // font-optical-sizing: auto;
    // font-weight: weight;
    // font-style: normal;

    overflow-y: overlay;
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--text-color);
    text-decoration: none;
}

//Custome Tippy tooltip
//Đi qua body cho nó ăn cao hơn
body .tippy-box {
    font-size: 1.6rem;
    line-height: 2.2rem;
    font-weight: 600;
    border-radius: 8px;
    background-color: rgba(84, 84, 84, 0.92);
}

// Cách này cho nhiều class
body {
    .tippy-box {
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 600;
        border-radius: 8px;
        background-color: rgba(84, 84, 84, 0.92);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow::before {
        top: -8px;
    }
}

// Scroball
html ::-webkit-scrollbar {
    border-radius: 0px;
    width: 8px;
}
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 8px;
}

html ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html ::-webkit-scrollbar-track {
    border-radius: 0px;

    background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}
